---
"":
  - type: A
    values:
      - 185.199.108.153
      - 185.199.109.153
      - 185.199.110.153
      - 185.199.111.153
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

  - type: MX
    values:
      - exchange: route3.mx.cloudflare.net.
        preference: 37
      - exchange: route2.mx.cloudflare.net.
        preference: 83
      - exchange: route1.mx.cloudflare.net.
        preference: 48
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

  - type: TXT
    values:
      - v=spf1 include:_spf.mx.cloudflare.net ~all
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true



# www redirect to the root/apex domain
www:
  - type: CNAME
    value: birki.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/ingress
ingress:
  - type: A
    value: 135.148.148.174
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/hooks-server
hooks:
  - type: A
    value: 135.148.148.174
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/journal
journal:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true
  - type: TXT
    octodns:
      cloudflare:
        auto-ttl: true
    values:
      - google-site-verification=lgROPFdmL2c0yshIYt2Z59pTMdMuW4Nyh7JskybsdRA

# https://github.com/GrantBirki/blog
blog:
  - type: CNAME
    value: blog-birki-io.pages.dev.
    octodns:
      cloudflare:
        proxied: true
        auto-ttl: true
  - type: TXT
    octodns:
      cloudflare:
        auto-ttl: true
    values:
      - google-site-verification=OBOQr1pzs9BOLCKXbQt2SGjQezHUfIJMww_s8Dx69oQ

# https://github.com/GrantBirki/bean-quest
bean-quest:
  - type: CNAME
    value: phenomenal-quokka-fbc052.netlify.app.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/astrowind
astro-demo:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/astro-portfolio
astro-portfolio:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/eco
eco:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/stickers
stickers:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/errbot
errbot:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/europe
europe:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/gl
gl:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/image
image:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

img:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/leahcaragol/leah
leah:
  - type: CNAME
    value: leahcaragol.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/portable-secret
secret:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/edf
edf:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/log
log:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/software
software:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true

# https://github.com/GrantBirki/tgct
tgct:
  - type: CNAME
    value: grantbirki.github.io.
    octodns:
      cloudflare:
        proxied: false
        auto-ttl: true
  - type: TXT
    octodns:
      cloudflare:
        auto-ttl: true
    values:
      - google-site-verification=-avocX7kXDkXqG8jMPeAJ_fbp8gh0RbjJYwDRKXGKMU

# bluesky handle verification
_atproto:
  - type: TXT
    octodns:
      cloudflare:
        auto-ttl: true
    values:
      - did=did:plc:rm7todfgrrgavltccx4s767a

cf2024-1._domainkey:
  - type: TXT
    octodns:
      cloudflare:
        auto-ttl: true
    value: v=DKIM1\; h=sha256\; k=rsa\; p=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAiweykoi+o48IOGuP7GR3X0MOExCUDY/BCRHoWBnh3rChl7WhdyCxW3jgq1daEjPPqoi7sJvdg5hEQVsgVRQP4DcnQDVjGMbASQtrY4WmB1VebF+RPJB2ECPsEDTpeiI5ZyUAwJaVX7r6bznU67g7LvFq35yIo4sdlmtZGV+i0H4cpYH9+3JJ78km4KXwaf9xUJCWF6nxeD+qG6Fyruw1Qlbds2r85U9dkNDVAS3gioCvELryh1TxKGiVTkg4wqHTyHfWsp7KD3WQHYJn0RyfJJu6YEmL77zonn7p2SRMvTMP3ZEXibnC9gz3nnhR6wcYL8Q7zXypKTMD58bTixDSJwIDAQAB

# a test record for deployment testing
test:
  - type: TXT
    octodns:
      cloudflare:
        auto-ttl: true
    values:
      - test=okay
