name: test
on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: install poetry
        run: pipx install poetry

      - uses: actions/setup-python@v6
        with:
          cache: "poetry"

      - name: install dependencies
        run: poetry install

      - name: check install
        run: poetry run octodns-sync --version
